/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import 'ng-diagram/styles.css';

body{
    height: 100lvh;
    width: 100lvw;
    overflow: hidden;
}
