<form class="input-grid-form">
    <div class="table-container">
        <div class="flex justify-end">
            <button type="button" class=" border w-20 h-[10] bg-blue-500 text-white border-radius-2xl rounded"
                (click)="addRow()">Add</button>
        </div>
        <table class="modern-table">
            <thead>
                <tr>
                    @for (header of tableHeaders(); track $index) {
                    <th scope="col">{{ header }}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (collection of collectionForm; track $index) {
                <tr>
                    <td>
                        <div class="form-field">
                            <input type="number" aria-label="Sl No" placeholder="Sl No" [formField]="collection.slNo">
                        </div>
                    </td>
                    <td>
                        <div class="form-field">
                            <input type="text" aria-label="Bike Name" placeholder="Bike Name"
                                [formField]="collection.bikeName">
                        </div>
                    </td>
                    <td>
                        <div class="form-field">
                            <input type="text" aria-label="Engine Type" placeholder="Engine Type"
                                [formField]="collection.engineType">
                        </div>
                    </td>
                    <td>
                        <div class="form-field">
                            <input type="number" aria-label="Price" placeholder="Price" [formField]="collection.price">
                        </div>
                    </td>
                    <td>
                        <div class="form-field">
                            <input type="text" aria-label="Model" placeholder="Model" [formField]="collection.model">
                        </div>
                    </td>
                    <td>
                        <div class="form-field">
                            <input type="number" aria-label="Year" placeholder="Year" [formField]="collection.year">
                        </div>
                    </td>
                    <td>
                        <div class="form-field color-field">
                            <input type="color" aria-label="Color" placeholder="Color" [formField]="collection.color">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="border w-20 h-[10] bg-red-500 text-white border-radius-2xl "
                            (click)="removeRow($index)">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button type="button" class="border w-20 h-[10] bg-blue-500 text-white border-radius-2xl rounded"
            (click)="printValue()">Submit</button>
    </div>

</form>